"3 Monitoring/debian packages/alertmanager-installer"                           filter=lfs diff=lfs merge=lfs -text
"3 Monitoring/debian packages/node-exporter-installer"                           filter=lfs diff=lfs merge=lfs -text
"3 Monitoring/debian packages/openvpn-exporter-installer"                         filter=lfs diff=lfs merge=lfs -text
"3 Monitoring/debian packages/prometheus-installer"                               filter=lfs diff=lfs merge=lfs -text
"3 Monitoring/debian packages/prometheus-installer/usr/share/prometheus"          filter=lfs diff=lfs merge=lfs -text
"3 Monitoring/debian packages/prometheus-installer/usr/share/promtool"            filter=lfs diff=lfs merge=lfs -text
3[[:space:]]Monitoring/debian[[:space:]]packages/prometheus-installer/usr/share/prometheus filter=lfs diff=lfs merge=lfs -text
